.nav {
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
}

.nav-right {
    display: flex;
    gap: 12px;
    margin-right: 20px;
}

.logo {
    width: 100px;
    height: 60px;
    border-radius: 15px;
}

.shop-card {
    width: 200px;
    height: 100px;
    display: flex;
    border: solid black 1px;
}

.card-shape {
    display: flex;
}